<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    

</head>

<body>

    <nav>
<h1>Logo</h1>

<ul class="search-nav">
    <li class="nav-item">All Genres</li>
    <li  class="nav-item" id="watchlist">Watchlist</li>
    <li>
        <input type="text" id="kutu">
    </li>
</ul>

    </nav>




    
<div class="genre-div">
    <ul class="small-genre">
<li class="genre-btn"> <a href="/action">Action</a> </li>
<li class="genre-btn"><a  href="/movies/horror/1">Horror</a></li>
<li class="genre-btn"><a  href="/movies/drama/1">Drama</a></li>
<li class="genre-btn"><a  href="">Sci-fi</a></li>

    </ul>

</div>

  <section>

    
   <% data.results.forEach(element => { %>
    

    <div class ="movie-item" style=<%=`background: url('http://image.tmdb.org/t/p/w500${element.poster_path}');`%>>
   
    <a href=<%= `/${element.id}`%> >
    <div class="img-wrapper">
 <img src=<%=`http://image.tmdb.org/t/p/w500${element.poster_path}` %>>  
 </div>
</a>
 
</div>

   <% }) %>


  
</section>


<a href=<%=`/movies/page/1`%>><button>1</button></a> <a href="/movies/page/2"><button>2</button></a> 


    <!-- <a href="/action"> <button>Action</button> </a>
    <a href="/drama"> <button>Drama</button> </a> -->

<% let myMovie = parseInt(page_nr,10)%>
<% let col ="" %> 
<% let pad ="" %> 
    <div id=“buttons1”>
        <a href=<%=`/movies/page/${myMovie-1}`%>>prev </a>
        <% if(myMovie>=5) {%>
            <% for( let i = myMovie-4; i < myMovie+5; i++ ) { %>
                <% if (myMovie === i) { %>
                 <% col="red" %> 
                 <% pad ="40px" %> 
                <% }else{ %>
                          <% col ="black" %> 
                          <% pad ="15px" %> 
                    <% } %> 
                    <button><a style=<%=`color:${col};padding:${pad}`%> href=<%= `/movies/page/${i}`%> ><%= `${i}` %></a></button>
               
           
            <% } %>
            <% } %>
            <% if(myMovie<5) {%>
            <% for( let i = 1; i < 10; i++ ) { %>
            <button><a href=<%= `/movies/page/${i}` %>><%= `${i}` %></a></button>
            <% } %>
            <% } %>
            <a href=<%=`/movies/page/${myMovie+1}`%>>next </a>
      </div>

      
    </div>

<script src="../../functions.js">

</script>

</body>
</html>