<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    
   
</head>

<body>

 <%- include("../partials/navBar.ejs")  %> 
 
<main>

   
       


</main>


    
<div class="genre-div">
    <ul class="small-genre">
<li class="genre-btn" > <a href="/movies/action/1"  >Action</a> </li>
<li class="genre-btn"><a  href="/movies/horror/1">Horror</a></li>
<li class="genre-btn"><a  href="/movies/drama/1" >Drama</a></li>
<li class="genre-btn"><a  href="" style="padding:7px 15px;background-color: crimson; border-radius: 40px;">Sci-fi</a></li>

    </ul>

</div>

  <section class="index-wrapper" >

    
   <% data.results.forEach(element => { %>
    

    <div class ="movie-item" style=<%=`background: url('http://image.tmdb.org/t/p/w500${element.poster_path}');`%>>
   
    <a href=<%= `/${element.id}`%> >
    <div class="img-wrapper" style="position: relative">
        <h3 class="title-grid" style="position:absolute"><%=element.title  %> <br> (<%=element.release_date  %> )  </h3>
 <img class="img-self" src=<%=`http://image.tmdb.org/t/p/w500${element.poster_path}` %>>  
 </div>
</a>
 
</div>

   <% }) %>


  
</section>


<article>
    
    <!-- <a href="/action"> <button>Action</button> </a>
    <a href="/drama"> <button>Drama</button> </a> -->

<% let myMovie = parseInt(page_nr,10)%>
<% let col ="" %> 
<% let pad ="" %> 
    <div id=“buttons1” style="width:70%;margin:auto;padding:40px 0px;position:fixed;bottom: 0;left:35%">
        <a class="prev-next" href=<%=`/movies/page/${myMovie-1}`%>>&lt </a>
        <% if(myMovie>=5) {%>
            <% for( let i = myMovie-4; i < myMovie+5; i++ ) { %>
                <% if (myMovie === i) { %>
                 <% col="#eb1549" %> 
                 <% pad ="35px" %> 
                <% }else{ %>
                          <% col ="white" %> 
                          <% pad ="15px" %> 
                    <% } %> 
                    <button class="pagination-btn"><a style=<%=` color:${col};padding:${pad}`%> href=<%= `/movies/page/${i}`%> ><%= `${i}` %></a></button>
               
           
            <% } %>
            <% } %>
            <% if(myMovie<5) {%>
            <% for( let i = 1; i < 10; i++ ) { %>

                <% if (myMovie === i) { %>
                    <% col="#eb1549" %> 
                    <% pad ="35px" %> 
                   <% }else{ %>
                             <% col ="white" %> 
                             <% pad ="15px" %> 
                       <% } %> 
            <button class="pagination-btn"><a  style=<%=` color:${col};padding:${pad}`%>  href=<%= `/movies/page/${i}` %>><%= `${i}` %></a></button>
            <% } %>
            <% } %>
            <a class="prev-next" href=<%=`/movies/page/${myMovie+1}`%>>&gt  </a>
      </div>

      
    </div>
</article>



<script >
 const imgWrapper = document.querySelectorAll(".img-wrapper")
const gridTitle = document.querySelectorAll(".title-grid")
console.log(imgWrapper)
 imgWrapper.forEach((elt)=>{
     elt.addEventListener("mouseover",()=>{
 
    elt.children[0].style.display="block"
   

 })
 })
 
 imgWrapper.forEach((elt)=>{
     elt.addEventListener("mouseout",()=>{
    
    elt.children[0].style.display="none"
    
   
    
 })
 })

</script>

</body>
</html>